.messageCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color:rgb(6, 15, 22);
  background: #d6e5ff;
  gap: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}